&basic_parameter
	imi = 60, 
	jmi = 50, 
	kmi = 2, 
	dx  = 91.2d3,
	dy  = 111.d3,
	dtmax=120.0,
	dtmin=12.0,
	f0  = 8.37d-5,
	b0  = 1.88d-11,
	gr01= 10.d0,
	gr12= 2.62d-2,
	hh1 = 400.,
	hh2 = 3600.,
	vis = 1.0d12,
	dif = 0.0d0,
	bst = 0.0d0,
	time_to_start=0.0,
	time_to_end=86313600.d0,
	output_interval=86400.,
	monitor_interval=86400. /

&inicon_parameter
	inival_u = 0.d0,
	inival_v = 0.d0,
	inival_e = 0.d0,
	inityp  = 'default'/

&bndcon_parameter
	bndtyp_x = 'wall',
	bndtyp_y = 'wall',
	bndtyp_m = 'noslip',
	bndtyp_e = 'insulating' /

&user_parameter
	rho0=1000.,
	tx_yamp=0.1,
	tx_ylen=5550.d3,
	tx_tamp=0.0,
	tx_tper=5.d8 /
